@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hoverurl {
        @apply hover:border-b border-primary-200/40 hover:text-url;
    }

    .extension-small-icon-outline {
        @apply outline outline-1 sm:outline-2 outline-offset-1 outline-green-500 sm:outline-green-500/30;
    }
}

/* Firefox scrollbars */
.smallscroll {
    --sb-width: 8px;
    scrollbar-color: #666b7a transparent;
    scrollbar-width: thin;
}

/* Chrome scrollbars */
.smallscroll::-webkit-scrollbar {
    width: var(--sb-width);
    height: var(--sb-width);
    background-color: transparent;
}

.smallscroll::-webkit-scrollbar-thumb {
    background-color: #666b7a;
}

/* 3D cube animations */
.cube-perspective {
    perspective: 800px;
}

.cube-3d {
    transform-style: preserve-3d;
}
